*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.openbtn {
    position: fixed;
    font-size: 25px;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.openbtn:hover {
    background-color: #0056b3;
}
.openbtn:focus {
    outline: none;
}
.openbtn:active {
    background-color: #004080;
}
.modelcontainer {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.model {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.closebtn {
    position: absolute;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: red;
    color: white;
    top: 10px;
    right: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.closebtn:hover {
    background-color: rgb(228, 81, 81);
}
.closebtn:focus {
    outline: none;
}
